/EventManagement.Server/bin/
/EventManagement.Server/obj/
/EventManagement.Server//packages/
/EventManagement.Server/riderModule.iml
/EventManagement.Server/_ReSharper.Caches/
/EventManagement.Server/appsettings.Development.json
/EventManagement.Server/.idea
/Instruction
